<!DOCTYPE html>
<html lang="ar">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    {#<base href="http://localhost/gatepass.dev/" />#}
    <!--    <base href="http://gatepass.dev/" />-->
    <!-- Bootstrap Core CSS -->
    <link href="{{ asset('css/bootstrap-3.3.6/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('css/bootstrap-3.3.6/css/bootstrap-theme.min.css') }}" rel="stylesheet">
    <link href="{{ asset('css/font-awesome-4.6.1/css/font-awesome.min.css') }}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ asset('css/bootstrap-3.3.6/css/small-business.css') }}" rel="stylesheet">
    <link href="{{ asset('css/layout/main.css') }}" rel="stylesheet">

    <script src="{{ asset('js/jquery-2.2.3.min.js') }}"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<!--<body dir="rtl">-->
<body style="background:#f2f2f2 url({{ asset('img/kuwait_sl.png') }}) center -30px repeat-x; background-attachment: fixed;">
{% include 'navbar.html.twig' %}
<div class="container">
    {% block body %}{% endblock %}
    {% block javascripts %}{% endblock %}
</div>
</html>
