<!DOCTYPE html>
<html lang="ar">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %}Welcome!{% endblock %}</title>

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    {#<base href="http://localhost/gatepass.dev/" />#}
    <!--    <base href="http://gatepass.dev/" />-->
    <!-- Bootstrap Core CSS -->
    <link href="{{ asset('css/bootstrap-3.3.6/css/bootstrap.min.css') }}"  media="all"  rel="stylesheet">
    {#<link href="{{ asset('css/bootstrap-3.3.6/css/bootstrap.min.css') }}"  media="all"  rel="stylesheet">#}
    <link href="{{ asset('css/bootstrap-3.3.6/css/bootstrap-theme.min.css') }}"  media="all" rel="stylesheet">
    <link href="{{ asset('css/font-awesome-4.6.1/css/font-awesome.min.css') }}"  media="all" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ asset('css/bootstrap-3.3.6/css/small-business.css') }}"  media="all" rel="stylesheet">
    <link href="{{ asset('css/layout/main.css') }}"  media="all" rel="stylesheet">
    {% block stylesheets %}
        {% stylesheets 'css/layout/*' filter='cssrewrite' %}
        <link rel="stylesheet" media="all"  href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}
    <script src="{{ asset('js/jquery-2.2.3.min.js') }}"></script>
    <script src="{{ asset('css/bootstrap-3.3.6/js/bootstrap.min.js') }}"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style>

            .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {
                float: right;
            }
    </style>
</head>
<!--<body dir="rtl">-->
<body>
{% include 'navbar.html.twig' %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            {% if app.session.flashBag('notice') %}
            <p class="bg-success">
                <ul>
                {% for flash_message in app.session.flashBag.get('notice') %}
                    <li>{{ flash_message }}</li>
                {% endfor %}
                </ul>
            </p>
            {% endif %}
            {% block body %}{% endblock %}
        </div>
    </div>
    {% block javascripts %}{% endblock %}
</div>
</html>
