<!DOCTYPE html>
<html lang="ar">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %}Welcome!{% endblock %}</title>

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    {#<base href="http://localhost:8000/" />#}
    <!--    <base href="http://gatepass.dev/" />-->
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap-3.3.6/css/bootstrap.min.css'"  media="screen"  rel="stylesheet">
    <link href="css/bootstrap-3.3.6/css/bootstrap-theme.min.css"  media="screen" rel="stylesheet">
    <link href="css/font-awesome-4.6.1/css/font-awesome.min.css"  media="screen" rel="stylesheet">

    {#<!-- Custom CSS -->#}
    {#<link href="css/bootstrap-3.3.6/css/small-business.css"  media="screen" rel="stylesheet">#}
    {#<link href="css/layout/main.css"  media="screen" rel="stylesheet">#}

    {#<link href="{{ asset('css/bootstrap-3.3.6/css/bootstrap.min.css') }}"  media="screen"  rel="stylesheet">#}
    {#<link href="{{ asset('css/bootstrap-3.3.6/css/bootstrap-theme.min.css') }}"  media="screen" rel="stylesheet">#}
    {#<link href="{{ asset('css/font-awesome-4.6.1/css/font-awesome.min.css') }}"  media="screen" rel="stylesheet">#}

    {#<!-- Custom CSS -->#}
    {#<link href="{{ asset('css/bootstrap-3.3.6/css/small-business.css') }}"  media="screen" rel="stylesheet">#}
    {#<link href="{{ asset('css/layout/main.css') }}"  media="screen" rel="stylesheet">#}
    {#{% block stylesheets %}#}
        {#{% stylesheets 'css/layout/*' filter='cssrewrite' %}#}
        {#<link rel="stylesheet" media="screen"  href="{{ asset_url }}" />#}
        {#{% endstylesheets %}#}
    {#{% endblock %}#}

    {#<style>#}
        {#@media print {#}
            {#*,#}
            {#*:before,enter code here#}
            {#*:after {#}
                {#color: #000 !important;#}
                {#text-shadow: none !important;#}
                {#background: transparent !important;#}
                {#-webkit-box-shadow: none !important;#}
                {#box-shadow: none !important;#}
            {#}#}
            {#a,#}
            {#a:visited {#}
                {#text-decoration: underline;#}
            {#}#}
            {#a[href]:after {#}
                {#content: " (" attr(href) ")";#}
            {#}#}
            {#abbr[title]:after {#}
                {#content: " (" attr(title) ")";#}
            {#}#}
            {#a[href^="#"]:after,#}
            {#a[href^="javascript:"]:after {#}
                {#content: "";#}
            {#}#}
            {#pre,#}
            {#blockquote {#}
                {#border: 1px solid #999;#}

                {#page-break-inside: avoid;#}
            {#}#}
            {#thead {#}
                {#display: table-header-group;#}
            {#}#}
            {#tr,#}
            {#img {#}
                {#page-break-inside: avoid;#}
            {#}#}
            {#img {#}
                {#max-width: 100% !important;#}
            {#}#}
            {#p,#}
            {#h2,#}
            {#h3 {#}
                {#orphans: 3;#}
                {#widows: 3;#}
            {#}#}
            {#h2,#}
            {#h3 {#}
                {#page-break-after: avoid;#}
            {#}#}
            {#select {#}
                {#background: #fff !important;#}
            {#}#}
            {#.navbar {#}
                {#display: none;#}
            {#}#}
            {#.btn > .caret,#}
            {#.dropup > .btn > .caret {#}
                {#border-top-color: #000 !important;#}
            {#}#}
            {#.label {#}
                {#border: 1px solid #000;#}
            {#}#}
            {#.table {#}
                {#border-collapse: collapse !important;#}
            {#}#}
            {#.table td,#}
            {#.table th {#}
                {#background-color: #fff !important;#}
            {#}#}
            {#.table-bordered th,#}
            {#.table-bordered td {#}
                {#border: 1px solid #ddd !important;#}
            {#}#}

            {#.make-grid(sm);#}
            {#.visible-xs {#}
            {#.responsive-invisibility();#}
            {#}#}

            {#.hidden-xs {#}
            {#.responsive-visibility();#}
            {#}#}

            {#.hidden-xs.hidden-print {#}
            {#.responsive-invisibility();#}
            {#}#}

            {#.hidden-sm {#}
            {#.responsive-invisibility();#}
            {#}#}

            {#.visible-sm {#}
            {#.responsive-visibility();#}
            {#}#}
        {#}#}
    {#</style>#}

</head>
<!--<body dir="rtl">-->
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            {% block body %}{% endblock %}
        </div>
    </div>
    {% block javascripts %}{% endblock %}
</div>
</html>
