{% extends '::base.html.twig' %}

{% block body %}


    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-2">

                <h3>التصاريح</h3>
                <hr>
                <div class="row">
                    <div class="col-sm-6 col-md-4 pull-left">
                    </div>
                    <div class="col-sm-6 pull-right">
                        <div class="dataTables_filter" id="example_filter">
                            <input aria-controls="example" placeholder="بحث" class="form-control input-sm"
                                   type="search">
                        </div>
                    </div>
                </div>

                <table class="table table-striped table-hover table-users">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>من</th>
                        <th>إلى</th>
                        <th>نوع</th>
                        <th>الشركة</th>
                        <th>القسم</th>
                        <th>السبب</th>
                        <th>ملاحظة</th>
                        <th>إسم المسجل</th>
                        <th colspan="3"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for g in gatepass %}
                        <tr>
                            <td>{{ g.id }}</td>
                            <td><a href="#">{{ g.fromDate|date('d-m-Y') }}</a></td>
                            <td>{{ g.toDate|date('d-m-Y') }}</td>
                            <td>{{ g.gatepassType.name }}</td>
                            <td>{{ g.company.name }}</td>
                            <td>{{ g.section.name }}</td>
                            <td>{{ g.reason }}</td>
                            <td>{{ g.remarks }}</td>
                            <td>{{ g.user.name }}</td>
                            <td><span class="label label-warning">Not Active</span></td>
                            <td><a class="btn mini blue-stripe" href="/gatepass/edit/{{ g.id }}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                            </td>
                            <td>
                                <a href="/gatepass/delete/1" class="btn mini btn-link"><i class="fa fa-trash" aria-hidden="true"></i></a>
                            </td>
                            <td>
                                <a href="/gatepass/print/1" class="btn mini btn-link"><i class="fa fa-print" aria-hidden="true"></i></a>
                            </td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
                <div><a href="/gatepass/create" class="btn btn-primary btn-default"><span class="glyphicon glyphicon-plus"></span> جديد</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}